#center-screen {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 60vh;
	background-image: url('/Users/alanp/Documents/Computer Programming/edX/Projects/Project 0/GoogleA.jpg');
	background-repeat: no-repeat;
	background-position: 50% 30%;
}

#center-screen2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 60vh;
	background-image: url('/Users/alanp/Documents/Computer Programming/edX/Projects/Project 0/GoogleImageA.jpg');
	background-repeat: no-repeat;
	background-position: 50% 30%;
}

.search {
	width: 600px;
	height: 50px;
	margin-top: 160px;
	box-sizing: border-box;
	border: 1px solid rgb(216, 216, 216);
	border-radius: 25px;
	background: #ffffff
		url('/Users/alanp/Documents/Computer Programming/edX/Projects/Project 0/Search.jpg')
		left no-repeat;
	background-position: 4%;
	font-size: 14px;
	resize: none;
	position: relative;
	outline: none;
	padding-left: 55px;
	margin-top: 190px;
}

.search2 {
	width: 550px;
	height: 50px;
	margin-top: 160px;
	box-sizing: border-box;
	border: 1px solid rgb(216, 216, 216);
	border-radius: 25px;
	background: #ffffff
		url('/Users/alanp/Documents/Computer Programming/edX/Projects/Project 0/Search.jpg')
		left no-repeat;
	background-position: 4%;
	font-size: 14px;
	resize: none;
	position: relative;
	outline: none;
	padding-left: 55px;
	margin-top: 150px;
}

.search:hover {
	width: 600px;
	height: 50px;
	margin-top: 160px;
	box-sizing: border-box;
	border: 1px solid rgba(206, 206, 206, 0.835);
	border-radius: 25px;
	background: #ffffff
		url('/Users/alanp/Documents/Computer Programming/edX/Projects/Project 0/Search.jpg')
		left no-repeat;
	background-position: 4%;
	font-size: 14px;
	resize: none;
	position: relative;
	outline: none;
	padding-left: 55px;
	margin-top: 190px;
	box-shadow: -1px 1px 3px 1px #dad9d9ea;
	user-select: none;
}

.search2:hover {
	width: 550px;
	height: 50px;
	margin-top: 160px;
	box-sizing: border-box;
	border: 1px solid rgba(206, 206, 206, 0.835);
	border-radius: 25px;
	background: #ffffff
		url('/Users/alanp/Documents/Computer Programming/edX/Projects/Project 0/Search.jpg')
		left no-repeat;
	background-position: 4%;
	font-size: 14px;
	resize: none;
	position: relative;
	outline: none;
	padding-left: 55px;
	margin-top: 150px;
	box-shadow: -1px 1px 3px 1px #dad9d9ea;
	user-select: none;
}

.button {
	margin: 3px;
	width: 135px;
	height: 40px;
	border: 0px;
	background-color: #fbfbfb;
	font-size: 14px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(255, 255, 255);
	height: 57px;
}

li {
	float: right;
	height: 57px;
}

li a {
	display: block;
	color: rgb(1, 1, 1);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	height: 57px;
}

li a:hover {
	background-color: #111;
	color: rgb(255, 255, 255);
}

#logo {
	float: left;
}

.logo-image {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	overflow: hidden;
	margin-top: 0;
}

h2 {
	margin-left: 40px;
	margin-top: 50px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 100;
}

h3 {
	margin-left: 760px;
	margin-top: -25px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 100;
}

form {
	display: table;
	margin-left: 0px;
	margin-top: -55px;
}
p {
	display: table-row;
	font-weight: 100;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	margin-left: 50px;
}

.sear {
	height: 30px;
	width: 550px;
	border: 0.5px solid rgb(209, 209, 209);
	border-radius: 0px 0px 0px 0px;
	outline: none;
}

.sear:focus {
	outline: none;
	border-color: rgb(0, 132, 255);
	box-shadow: 0 0 2px rgb(0, 132, 255);
}

label {
	display: table-cell;
}

button {
	margin-left: 640px;
	width: 120px;
	height: 30px;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: rgb(0, 132, 255);
	color: white;
	border: 0;
	font-weight: bold;
}
